nodered/flows/carlos.json
[
    {
        "id": "c77d74c7.70dbd8",
        "type": "subflow",
        "name": "Is einer da?",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 900,
                "y": 120,
                "wires": [
                    {
                        "id": "9cbde0c8.e9846",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "4711f4a7.8efc8c",
        "type": "mqtt in",
        "z": "c77d74c7.70dbd8",
        "name": "openhab/human_presence",
        "topic": "openhab/human_presence",
        "qos": "2",
        "datatype": "auto",
        "broker": "79e66eb.1580d9",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "d71e6878.0fa648"
            ]
        ]
    },
    {
        "id": "9cbde0c8.e9846",
        "type": "trigger",
        "z": "c77d74c7.70dbd8",
        "name": "min 3min offline",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 126,
        "wires": [
            []
        ]
    },
    {
        "id": "d71e6878.0fa648",
        "type": "switch",
        "z": "c77d74c7.70dbd8",
        "name": "is einer da?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "7ff8247d.40ed9c"
            ],
            [
                "9cbde0c8.e9846"
            ]
        ],
        "outputLabels": [
            "jo",
            "nö"
        ]
    },
    {
        "id": "7ff8247d.40ed9c",
        "type": "change",
        "z": "c77d74c7.70dbd8",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "9cbde0c8.e9846"
            ]
        ]
    },
    {
        "id": "79e66eb.1580d9",
        "type": "mqtt-broker",
        "name": "Mosquitto (lokal)",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fa23c1e.a9e934",
        "type": "subflow",
        "name": "DND",
        "info": "# DND - Fresse halten, ich will pennen!\n\n## Wat et tut\nDo not disturb:\nReicht das Nachrichten-Objekt durch wenn innerhalb von definiertem Zeitraum, andernfalls wird der Output geblockt.\n\n## Parameter\n### aktiv (env)\nNur aktiv wenn auf true gesetzt.",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 100,
                "wires": [
                    {
                        "id": "4942f8c6.521a18"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 100,
                "wires": [
                    {
                        "id": "f5cc52e0.d3dd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "aktiv",
                "type": "bool",
                "value": "true",
                "ui": {
                    "icon": "font-awesome/fa-bell-slash",
                    "label": {
                        "en-US": "aktiv"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "bool"
                        ]
                    }
                }
            }
        ],
        "color": "#E6E0F8",
        "inputLabels": [
            "msg"
        ],
        "outputLabels": [
            "msg"
        ],
        "icon": "font-awesome/fa-bell-slash"
    },
    {
        "id": "4942f8c6.521a18",
        "type": "switch",
        "z": "fa23c1e.a9e934",
        "name": "angeschaltet",
        "property": "aktiv",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "f5cc52e0.d3dd"
            ]
        ]
    },
    {
        "id": "f5cc52e0.d3dd",
        "type": "time-range-switch",
        "z": "fa23c1e.a9e934",
        "name": "Zwischen 9 und 21",
        "lat": "",
        "lon": "",
        "startTime": "09:00",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 450,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5359829e.1c6e0c",
        "type": "subflow",
        "name": "an Bewohner senden",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "5684076e.3d08b8"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "bewohner",
                "type": "env",
                "value": "global.telegram.chatIds"
            },
            {
                "name": "dnd",
                "type": "bool",
                "value": "true"
            }
        ],
        "color": "#A6BBCF",
        "icon": "node-red-contrib-telegrambot/telegram_cmd.png"
    },
    {
        "id": "1b24ed2.6b5a113",
        "type": "telegram sender",
        "z": "5359829e.1c6e0c",
        "name": "Senden",
        "bot": "70243f6a.645f6",
        "haserroroutput": false,
        "outputs": 1,
        "x": 560,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3547f9c7.832296",
        "type": "change",
        "z": "5359829e.1c6e0c",
        "name": "setze ChatIds",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "telegram.chatIds",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "1b24ed2.6b5a113"
            ]
        ]
    },
    {
        "id": "5684076e.3d08b8",
        "type": "subflow:fa23c1e.a9e934",
        "z": "5359829e.1c6e0c",
        "name": "",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "3547f9c7.832296"
            ]
        ]
    },
    {
        "id": "70243f6a.645f6",
        "type": "telegram bot",
        "botname": "GharaWohntInKmp5_bot",
        "usernames": "bronckoKmp5",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "90",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "733f33fb.bb2f8c",
        "type": "tab",
        "label": "Carlos",
        "disabled": false,
        "info": "Fragen ob der Staubsauger gestartet werden soll, wenn keiner zu Hause ist"
    },
    {
        "id": "625c7a3b.8a2f04",
        "type": "subflow:5359829e.1c6e0c",
        "z": "733f33fb.bb2f8c",
        "name": "",
        "x": 800,
        "y": 120,
        "wires": []
    },
    {
        "id": "b6e41954.632408",
        "type": "function",
        "z": "733f33fb.bb2f8c",
        "name": "Frage Carlos starten",
        "func": "var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Ja sia\",\n                    \"callback_data\": \"carlos-an\"            \n                },\n                {\n                    \"text\": \"Nee\",\n                    \"callback_data\": \"nix-carlos\"            \n                }]\n            ]\n  })\n};\n\nmsg.payload = {\n    content: \"Keiner is mehr zu Hause, willse Carlos los schicken?\",\n    options: opts,\n    type: \"message\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "625c7a3b.8a2f04"
            ]
        ]
    },
    {
        "id": "b26b7386.ee684",
        "type": "telegram event",
        "z": "733f33fb.bb2f8c",
        "name": "Antwort Carlos",
        "bot": "70243f6a.645f6",
        "event": "callback_query",
        "autoanswer": false,
        "x": 120,
        "y": 340,
        "wires": [
            [
                "5fedfa76.d6eb84"
            ]
        ]
    },
    {
        "id": "5fedfa76.d6eb84",
        "type": "switch",
        "z": "733f33fb.bb2f8c",
        "name": "Carlos anschalten?",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "carlos-an",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "c4db96c6.edb498"
            ]
        ]
    },
    {
        "id": "3df271f7.dd2e8e",
        "type": "delay",
        "z": "733f33fb.bb2f8c",
        "name": "Nur einma an Tach",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "day",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 300,
        "wires": [
            [
                "5643982.ca97b68",
                "f63cd2c7.5eeaa"
            ]
        ]
    },
    {
        "id": "5643982.ca97b68",
        "type": "change",
        "z": "733f33fb.bb2f8c",
        "name": "Heute wurde gesaugt",
        "rules": [
            {
                "t": "set",
                "p": "gesaugt",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "7e800e21.57bb7",
        "type": "switch",
        "z": "733f33fb.bb2f8c",
        "name": "Heute schon gesaugt?",
        "property": "gesaugt",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "b6e41954.632408"
            ],
            [
                "b6e41954.632408"
            ]
        ]
    },
    {
        "id": "c4db96c6.edb498",
        "type": "switch",
        "z": "733f33fb.bb2f8c",
        "name": "Heute schon gesaugt?",
        "property": "gesaugt",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "null"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "3df271f7.dd2e8e"
            ],
            [
                "3df271f7.dd2e8e"
            ],
            [
                "4a817f15.9c36c"
            ]
        ]
    },
    {
        "id": "c26d6d7d.1f3ca",
        "type": "telegram sender",
        "z": "733f33fb.bb2f8c",
        "name": "Nachricht senden",
        "bot": "70243f6a.645f6",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1290,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4a817f15.9c36c",
        "type": "function",
        "z": "733f33fb.bb2f8c",
        "name": "Nachricht heute nich mehr",
        "func": "msg.payload = {\n    content: \"Heute wurde schomma gesaugt\",\n    type: \"message\",\n    chatId: msg.payload.chatId\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 820,
        "y": 380,
        "wires": [
            [
                "c26d6d7d.1f3ca"
            ]
        ]
    },
    {
        "id": "f63cd2c7.5eeaa",
        "type": "function",
        "z": "733f33fb.bb2f8c",
        "name": "Nachricht gestartet",
        "func": "msg.payload = {\n    content: \"Carlos wird gestartet\",\n    type: \"message\",\n    chatId: msg.payload.chatId\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "c26d6d7d.1f3ca"
            ]
        ]
    },
    {
        "id": "bb3afab8.8390a8",
        "type": "inject",
        "z": "733f33fb.bb2f8c",
        "name": "Sauger zurücksetzen um Mitternacht",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "e5233368.cbc5c"
            ]
        ]
    },
    {
        "id": "e5233368.cbc5c",
        "type": "change",
        "z": "733f33fb.bb2f8c",
        "name": "reset Carlos",
        "rules": [
            {
                "t": "set",
                "p": "gesaugt",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "550d25fe.427e4c",
        "type": "subflow:c77d74c7.70dbd8",
        "z": "733f33fb.bb2f8c",
        "name": "Is einer da?",
        "env": [],
        "x": 110,
        "y": 120,
        "wires": [
            [
                "7e800e21.57bb7"
            ]
        ]
    }
]