nodered/flows/dnd.json
[
    {
        "id": "fa23c1e.a9e934",
        "type": "subflow",
        "name": "DND",
        "info": "# DND - Fresse halten, ich will pennen!\n\n## Wat et tut\nDo not disturb:\nReicht das Nachrichten-Objekt durch wenn innerhalb von definiertem Zeitraum, andernfalls wird der Output geblockt.\n\n## Parameter\n### aktiv (env)\nNur aktiv wenn auf true gesetzt.",
        "category": "",
        "in": [
            {
                "x": 120,
                "y": 100,
                "wires": [
                    {
                        "id": "4942f8c6.521a18"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 620,
                "y": 100,
                "wires": [
                    {
                        "id": "f5cc52e0.d3dd",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "aktiv",
                "type": "bool",
                "value": "true",
                "ui": {
                    "icon": "font-awesome/fa-bell-slash",
                    "label": {
                        "en-US": "aktiv"
                    },
                    "type": "input",
                    "opts": {
                        "types": [
                            "bool"
                        ]
                    }
                }
            }
        ],
        "color": "#E6E0F8",
        "inputLabels": [
            "msg"
        ],
        "outputLabels": [
            "msg"
        ],
        "icon": "font-awesome/fa-bell-slash"
    },
    {
        "id": "4942f8c6.521a18",
        "type": "switch",
        "z": "fa23c1e.a9e934",
        "name": "angeschaltet",
        "property": "aktiv",
        "propertyType": "env",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 250,
        "y": 100,
        "wires": [
            [
                "f5cc52e0.d3dd"
            ]
        ]
    },
    {
        "id": "f5cc52e0.d3dd",
        "type": "time-range-switch",
        "z": "fa23c1e.a9e934",
        "name": "Zwischen 9 und 21",
        "lat": "",
        "lon": "",
        "startTime": "09:00",
        "endTime": "21:00",
        "startOffset": 0,
        "endOffset": 0,
        "x": 450,
        "y": 100,
        "wires": [
            [],
            []
        ]
    }
]