nodered/flows/einer_da.json
[
    {
        "id": "c77d74c7.70dbd8",
        "type": "subflow",
        "name": "Is einer da?",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 900,
                "y": 120,
                "wires": [
                    {
                        "id": "9cbde0c8.e9846",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "4711f4a7.8efc8c",
        "type": "mqtt in",
        "z": "c77d74c7.70dbd8",
        "name": "openhab/human_presence",
        "topic": "openhab/human_presence",
        "qos": "2",
        "datatype": "auto",
        "broker": "79e66eb.1580d9",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "d71e6878.0fa648"
            ]
        ]
    },
    {
        "id": "9cbde0c8.e9846",
        "type": "trigger",
        "z": "c77d74c7.70dbd8",
        "name": "min 3min offline",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "pay",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 126,
        "wires": [
            []
        ]
    },
    {
        "id": "d71e6878.0fa648",
        "type": "switch",
        "z": "c77d74c7.70dbd8",
        "name": "is einer da?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "7ff8247d.40ed9c"
            ],
            [
                "9cbde0c8.e9846"
            ]
        ],
        "outputLabels": [
            "jo",
            "nö"
        ]
    },
    {
        "id": "7ff8247d.40ed9c",
        "type": "change",
        "z": "c77d74c7.70dbd8",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "9cbde0c8.e9846"
            ]
        ]
    },
    {
        "id": "79e66eb.1580d9",
        "type": "mqtt-broker",
        "name": "Mosquitto (lokal)",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]